doctype html
html
  head
    title Hello!!!
    meta(charset="utf-8")
    link(rel="stylesheet" href="assets/css/main.css")
  body
    .wrapper
      .container
        p lorem
        p lorem
    script(src="assets/js/bundle.js")